<app-navigation></app-navigation>


<main role="main">
  <app-jumbotron [title]="title" [description]="description"></app-jumbotron>

  <div class="container">
    <div class="row" >
      <app-license-plate *ngFor="let plate of licensePlates$ | async; index as i" [currencyInfo]="currencyInfo$ | async" [plate]="plate" buttonText="Add To Cart" (buttonClick)="addToCart($event)"
      class="col-md-4"
     [ngClass]="{'background-grey':isEven(i)}" appHighlight appHighlightColor="yellow"></app-license-plate>
     <app-popup-window
     [isOpen]="showPopUp" title="Item Added To Cart :)" (onClose)="showPopup=false"> Thanks:D

     </app-popup-window>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; License Plate Store 2018</p>
</footer>
